/* styles.css or styles.scss */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* product-list.component.css or product-list.component.scss */
.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.empty-image-placeholder {
  width: 100%;
  height: 180px; /* Adjust the height as needed */
  background-color: #f1f1f1;
  border-radius: 8px 8px 0 0; /* Round the top corners only */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow if the image is too large */
}

.empty-image-placeholder img {
  width: 80px;
  height: 80px;
  object-fit: cover; /* Scale the image to cover the container */
  opacity: 0.6; /* Adjust the opacity for the placeholder image */
}

.product-image {
  width: 100%;
  height: 250px; /* Adjust the height as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.additional-images {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.additional-images img {
  width: 50px; /* Set a fixed width for each additional image */
  height: 50px; /* Set a fixed height for each additional image */
  object-fit: cover; /* Maintain the aspect ratio of the image and cover the container */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px; /* Add some margin between the additional image previews */
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.empty-image-placeholder {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.empty-image-placeholder img {
  width: 60%; /* Adjust the size of the placeholder image */
  height: 60%; /* Adjust the size of the placeholder image */
  object-fit: cover; /* Scale the image to cover the container */
  opacity: 0.6; /* Adjust the opacity for the placeholder image */
}

/* Style the delete button */
button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}
.product-management-header {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.create-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #45a049;
}
