<div
  *ngIf="
    !orderDetailService.getIsLoggedIn() &&
    !orderDetailService.getIsGuest() &&
    !orderDetailService.showRegistrationForm
  "
  class="order-details"
>
  <p class="welcome-message">
    Please log in to proceed, or continue as a guest.
  </p>
  <app-customer-login
    (loginSuccess)="handleLoginSuccess()"
  ></app-customer-login>
  <p>
    Do not have an account yet?
    <span class="register-link" (click)="orderDetailService.showRegisterForm()"
      >Register now.</span
    >
  </p>
  <button (click)="handleGuestContinue()" class="guest-btn">
    Continue as Guest
  </button>
</div>

<app-guest-customer
  *ngIf="orderDetailService.getIsGuest()"
  (guestDetailsSubmitted)="submitOrderDetails()"
></app-guest-customer>

<app-register
  *ngIf="
    !orderDetailService.getIsLoggedIn() &&
    !orderDetailService.getIsGuest() &&
    orderDetailService.showRegistrationForm
  "
  (registrationSuccess)="handleRegistrationSuccess()"
></app-register>
