<header>
  <div class="faded-area"></div>
  <div class="hero-banner">
    <h1>Welcome to RekindleBySarah</h1>
    <p>Handcrafted unique Fabric bag & accessories by Rekindle</p>
  </div>
  <nav *ngIf="userService.isAdmin()">
    <ul class="horizontal-menu">
      <li>
        <a class="home-menu" routerLink="/home">
          <img
            class="home-menu-logo"
            src="/assets/images/logo.png"
            alt="logo"
          />
          <span class="home-menu-label">Home</span></a
        >
      </li>
      <li><a routerLink="/catalog/product-catalog">Product Catalog</a></li>
      <li><a routerLink="/create">Create Product</a></li>
      <li><a routerLink="/home" (click)="logout()">Logout</a></li>
    </ul>
  </nav>
  <div class="cart-container" *ngIf="!userService.isAdmin()">
    <a routerLink="/home" class="home-menu">
      <img
        src="/assets/images/logo-fade-back.png"
        alt="Home"
        class="home-icon"
      />
    </a>
    <a routerLink="/cart" class="cart-menu">
      <img
        src="/assets/images/cart.png"
        alt="Shopping Cart"
        class="cart-icon"
      />
      <span class="item-count">{{ cartService.getItemCount() }}</span>
    </a>
  </div>
</header>

<router-outlet></router-outlet>
