/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;

  background-image: url(/assets/images/bg.jpg);
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  height: 300px; /* Set a minimum height */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.home-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-logo {
    height: 32px;
    border-radius: 16px;
  }
  &-lable {
    margin-left: 4px;
  }
}

.horizontal-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.horizontal-menu li {
  margin-right: 20px;
}

.horizontal-menu li:last-child {
  margin-right: 0;
}

.horizontal-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero-banner {
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }
  h1,
  p {
    background-color: #00000060;
    width: fit-content;
    align-self: center;
    padding: 6px;
    border-radius: 6px;
  }
}

.cta-button {
  background-color: #ff5a5f;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}
